[Unit]
Description=Koushoku cdn server
After=syslog.target
After=network.target
Wants=postgresql.service
After=postgresql.service

[Service]
RestartSec=2s
Type=simple
WorkingDirectory=/root/koushoku/bin
ExecStart=/root/koushoku/bin/dataServer
Restart=always

[Install]
WantedBy=multi-user.target